* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  background-color: white;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 3;
  box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.5);
}
nav ul li {
  display: inline-block;
  letter-spacing: 2px;
  padding-right: 1.5rem;
  padding: 2rem;
}
nav a {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-left: 27rem;
  margin-top: 1rem;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0, 3s ease-in-out;
  transition: all 0, 3s ease-in-out;
  background-color: rgb(199, 9, 9);
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger .active .bar:nth-child(2) {
    opacity: 0;
    display: none;
  }
  .hamburger .active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger .active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4rem;
    gap: 0;
    flex-direction: column;
    background-color: rgba(22, 157, 211, 0.781);
    width: 100%;
    height: auto;
    text-align: left;
    transition: 0.3s;
  }

  .nav-item a {
    display: block;
    margin: 0rem;
    height: 0rem;

    width: 12rem;
    color: white;
  }
  .nav-menu.active {
    left: 0;
  }
}
.pro1 {
  background-color: rgb(34, 32, 32);
  height: auto;
  padding: 2rem;
}
.s1 {
  padding-top: 4rem;
  margin: auto;
  text-align: center;
  font-size: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 800px;
  margin: 40px auto;
}

figure {
  margin: 0;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease; /* i did this for a  Smooth zoom transition */
}

img:hover {
  transform: scale(1.1); /* while this is for the  Zoom in hover */
}

figcaption {
  text-align: center;
  font-size: 18px;
  color: #666;
  padding: 10px;
}

/* Lightbox  */
.lightbox {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 10;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
